<div class="center jumbotron">
	<h1>Bem vindo a intranet 4 Seniors Brasil.</h1>
	<h2>Clique no botao abaixo para criar um usuario<br>
	ou efeture o login.</h2>
	<%= link_to "Login", " ", class: "btn btn-default" %>
	<%= link_to "Registrar", registrar_path , class: "btn btn-default" %>
</div>


