<header class="navbar navbar-fixed-top navbar-default">
        <div class="container">
                <%= link_to "Intranet 4Seniors", root_path, class: "btn btn-lg btn-success", id:"logo" %>
                <div class="nav navbar-nav navbar-right">
                        <%= link_to " Login",  " ",  class: "glyphicon glyphicon-user", id:"botaoreg" %>
                        <%= link_to " Registrar", registrar_path ,  class: "glyphicon glyphicon-log-in", id:"botaoreg" %>
                </div>
        </div>
</header>
